.row-footer{

    padding:40px 0px;

}
.h-footer{
    font-weight: 600;
    font-size: 40px;
}
.p-footer{

    font-weight: 800;
    font-size: 30px;
}
.TeamImage{
    height:300px;
    width:300px;
}